*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
/* make images easier to work with */
img,
picture,
video{
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
    border: 0;
    outline: 0;
}

ol[role="list"],
ul[role="list"]{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

html{
    scroll-behavior: smooth;
}

body{
    line-height: 1.5;
    min-height: 100vh;
}
