/* ================ DESKTOP ================ */
@media (min-width: 601px) and (max-width: 1024px){
    body{
        background: url("../assets/home/background-home-tablet.jpg") no-repeat center center/cover;
    }
    .header__container{
        padding-left: 4em;
    }
    .nav__menu{
        padding: var(--sp-24) var(--sp-48);
    }
    .nav__menu::before{
        display: none;
    }
}

/* ======= MOBILE ======== */

@media (max-width: 600px){
    body{
        background: url("../assets/home/background-home-mobile.jpg") no-repeat center center/cover;
    }


}
