/* ================| CONTAINER & SR-ONLY UTILITIES |================ */

.container {
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 83rem;
}

.header__container{
    margin-left: auto;
    max-width: 83rem;
    padding-left: 2em;
}

/* ============| JS USE ONLY |============ */

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}

/* ================| FLEXBOX & GRID UTILITIES |================ */

.flex {
    --gap:1rem;
    display: flex;
    gap: var(--gap, 1rem);
}

.flex__shrink {
    flex-shrink: 0;
}

.flex__grow {
    flex-grow: 1;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.align-center {
    display: flex;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}
.gap-sm{
    --gap: 0.5rem;
}
.gap-1{
    --gap: 1rem;
}
.gap-2{
    --gap: 2rem;
}
.gap-3{
    --gap: 3rem;
}

/* =============| PADDING UTILITIES |============ */

.p-0 { padding: 0; }
.p-1 { padding: 1rem; }
.p-2 { padding: 2rem; }
.p-3 { padding: 3rem; }
.p-4 { padding: 4rem; }

.py-0 { padding-top: 0; padding-bottom: 0; }
.py-1 { padding-top: 1rem; padding-bottom: 1rem; }
.py-2 { padding-top: 2rem; padding-bottom: 2rem; }
.py-3 { padding-top: 3rem; padding-bottom: 3rem; }
.py-4 { padding-top: 4rem; padding-bottom: 4rem; }

.px-0 { padding-left: 0; padding-right: 0; }
.px-1 { padding-left: 1rem; padding-right: 1rem; }
.px-2 { padding-left: 2rem; padding-right: 2rem; }
.px-3 { padding-left: 3rem; padding-right: 3rem; }
.px-4 { padding-left: 4rem; padding-right: 4rem; }

.pt-0 { padding-top: 0; }
.pt-1 { padding-top: 1rem; }
.pt-2 { padding-top: 2rem; }
.pt-3 { padding-top: 3rem; }
.pt-4 { padding-top: 4rem; }

.pb-0 { padding-bottom: 0; }
.pb-1 { padding-bottom: 1rem; }
.pb-2 { padding-bottom: 2rem; }
.pb-3 { padding-bottom: 3rem; }
.pb-4 { padding-bottom: 4rem; }

.pl-0 { padding-left: 0; }
.pl-1 { padding-left: 1rem; }
.pl-2 { padding-left: 2rem; }
.pl-3 { padding-left: 3rem; }
.pl-4 { padding-left: 4rem; }

/* ============| MARGIN UTILITIES |============ */
.mt-0 { margin-top: 0; }
.mt-1 { margin-top: 1rem; }
.mt-2 { margin-top: 2rem; }
.mt-3 { margin-top: 3rem; }
.mt-4 { margin-top: 4rem; }

.mb-0 { margin-bottom: 0; }
.mb-1 { margin-bottom: 1rem; }
.mb-2 { margin-bottom: 2rem; }
.mb-3 { margin-bottom: 3rem; }
.mb-4 { margin-bottom: 4rem; }

.ml-0 { margin-left: 0; }
.ml-1 { margin-left: 1rem; }
.ml-2 { margin-left: 2rem; }
.ml-3 { margin-left: 3rem; }
.ml-4 { margin-left: 4rem; }
.ml-auto { margin-left: auto; }

.mr-0 { margin-right: 0; }
.mr-1 { margin-right: 1rem; }
.mr-2 { margin-right: 2rem; }
.mr-3 { margin-right: 3rem; }
.mr-4 { margin-right: 4rem; }


/* ================| FLOW UTILITIES |================ */
.flow > *:where(:not(:first-child)) {
    --flow-space: 1rem;
    margin-top: var(--flow-space, 1rem);
}


/* ================| TEXT UTILITIES |================ */
.text-white{
    color: hsl(var(--clr-white));
}
.text-light{
    color: hsl(var(--text-clr));
}
.text-dark{
    color: hsl(var(--clr-dark));
}
.text-uppercase {
    text-transform: uppercase;
}
.text-center {
    text-align: center;
}
.letter-spacing-1 {
    letter-spacing: var(--ls-100, 1px);
}
.letter-spacing-2 {
    letter-spacing: var(--ls-200, 2px);
}
.letter-spacing-4 {
    letter-spacing: var(--ls-400, 4px);
}


/* ================| VISIBILITY UTILITIES |================ */
.visible { visibility: visible; }
.invisible { visibility: hidden; }
.hidden { display: none; }
.show { display: block; }

/* ================| Font wight UTILITIES |================ */
.fw-100 { font-weight: var(--fw-100, 100); }
.fw-200 { font-weight: var(--fw-200, 200); }
.fw-400 { font-weight: var(--fw-400, 400); }
.fw-500 { font-weight: var(--fw-500, 500); }
.fw-600 { font-weight: var(--fw-600, 600); }
.fw-700 { font-weight: var(--fw-700, 700); }
.fw-800 { font-weight: var(--fw-800, 800); }
.fw-900 { font-weight: var(--fw-900, 900); }

.sm-svg{
    width: 16px;
    height: 16px;
}
.glass {
}

@supports (backdrop-filter: blur(1px)) {

    .glass{
        background: hsl(var(--clr-white) / .25);
        backdrop-filter: blur(50px);
        -webkit-backdrop-filter: blur(10px);
    }
}

