@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap');
:root{
    /* ========= COLORS ========== */
    --clr-dark:230, 35%, 7%;
    --clr-light:231, 77%, 90%;
    --clr-white:0, 0%, 100%;
    /* ========= TYPOGRAPHY ========== */
    /* ------- font family -------*/
    --ff-barlow-condensed:'Barlow Condensed', sans-serif;
    --ff-bellefair:'Bellefair', serif;
    --ff-barlow:'Barlow', sans-serif;
    /* ------- font size -------*/
    --fs-900: 9.375rem;
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;
    --fs-100: 0.75rem;
    /* ------- letter spacing -------*/
    --ls-300: 4.75px;
    --ls-200: 2.7px;
    --ls-100: 2.35px;
    /* ------- line-height -------*/
    --lh-400: 100%;
    --lh-300: 3.75rem;
    --lh-200: 2.75rem;
    --lh-100: 1.75rem;
    /* -------- SPACING --------- */
    --sp-128: 8rem;
    --sp-96: 6rem;
    --sp-80: 5rem;
    --sp-64: 4rem;
    --sp-48: 3rem;
    --sp-40: 2.5rem;
    --sp-32: 2rem;
    --sp-24: 1.5rem;
    --sp-16: 1rem;
    --sp-8: 0.5rem;
    --sp-4: 0.25rem;
    --sp-2: 0.125rem;
    /* -------- BREAKPOINTS --------- */
    --bp-600: 37.5em; /* 600px */
    --bp-900: 56.25em; /* 900px */
    /* -========= OTHER ========- */
    --transition: all 0.3s ease-in-out;
}
