@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap');

:root{
    /* ========= COLORS ========== */
    --clr-dark:230, 35%, 7%;
    --clr-light:231, 77%, 90%;
    --clr-white:0, 0%, 100%;
    --text-clr:231, 75%, 90%;
    /* ========= TYPOGRAPHY ========== */

    /* ------- font family -------*/

    --ff-barlow-condensed:'Barlow Condensed', sans-serif;
    --ff-bellefair:'Bellefair', serif;
    --ff-barlow:'Barlow', sans-serif;

    /* ------- font size -------*/

    --fs-900: 9.375rem; /* 150px */
    --fs-800: 6.25rem; /* 100px */
    --fs-700: 3.5rem; /* 56px */
    --fs-600: 2rem; /* 32px */
    --fs-500: 1.75rem;  /* 28px */
    --fs-400: 1.125rem; /* 18px */
    --fs-300: 1rem; /* 16px */
    --fs-200: 0.875rem; /* 14px */
    --fs-100: 0.75rem; /* 12px */

    /* ------- font weight -------*/

    --fw-900: 900;
    --fw-800: 800;
    --fw-700: 700;
    --fw-600: 600;
    --fw-500: 500;
    --fw-400: 400;
    --fw-300: 300;
    --fw-200: 200;
    --fw-100: 100;

    /* ------- letter spacing -------*/

    --ls-400: 4px;
    --ls-200: 2px;
    --ls-100: 1px;

    /* -------- SPACING --------- */

    --sp-128: 8rem;
    --sp-96: 6rem;
    --sp-80: 5rem;
    --sp-64: 4rem;
    --sp-48: 3rem;
    --sp-40: 2.5rem;
    --sp-32: 2rem;
    --sp-24: 1.5rem;
    --sp-16: 1rem;
    --sp-8: 0.5rem;
    --sp-4: 0.25rem;
    --sp-2: 0.125rem;

    /* -------- BREAKPOINTS --------- */

    --bp-600: 37.5em; /* 600px */
    --bp-900: 56.25em; /* 900px */

    /* ====== Heading font sizes ====== */

    --fs-h1: var(--fs-900);
    --fs-h2: var(--fs-800);
    --fs-h3: var(--fs-700);
    --fs-h4: var(--fs-600);
    --fs-h5: var(--fs-500);

    /* ==== Subheading font sizes ==== */

    --fs-subheading-1: var(--fs-500);
    --fs-subheading-2: var(--fs-300);

}
