/* ========= CSS Layers ========= */
@layer reset, fonts, variables, base, theme, components, utilities;

/* ===== Reset ===== */
@layer reset {
    *,
    *::before,
    *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    ol[role="list"],
    ul[role="list"] {
        list-style: none;
    }

    img,
    picture,
    video,
    canvas,
    svg {
        display: block;
        max-width: 100%;
    }

    input,
    button,
    textarea,
    select,
    fieldset{
        font: inherit;
        border: none;
        background: none;
    }
    input:focus,
    textarea:focus,
    button:focus {
        outline: none;
        box-shadow: none;
    }
    main,
    section{
        container-type: inline-size;
    }
}

/* ===== Fonts ===== */
@layer fonts {
    @font-face {
        font-family: "Karla";
        src: url("assets/fonts/Karla-Regular.woff2") format("woff2"),
        url("assets/fonts/Karla-Regular.woff") format("woff");
        font-weight: 400 700;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "Karla";
        src: url("assets/fonts/Karla-Italic.woff2") format("woff2"),
        url("assets/fonts/Karla-Italic.woff") format("woff");
        font-weight: 400 700;
        font-style: italic;
        font-display: swap;
    }
}

/* ===== Variables ===== */
@layer variables {
    :root {
        /* Primary Colors */
        --clr-primary-600: hsl(169, 82%, 27%);
        --clr-primary-200: hsl(148, 38%, 91%);

        /* Neutral Palette */
        --clr-gray-900: hsl(187, 24%, 22%);
        --clr-gray-500: hsl(186, 15%, 59%);
        --clr-neutral-900: hsl(0, 0%, 10%);  /* black */
        --clr-neutral-100: hsl(0, 0%, 100%); /* white */

        /* Status Colors */
        --clr-error: hsl(0, 66%, 54%);
        --clr-success: var(--clr-primary-600);

        /* Button Colors */
        --clr-btn: var(--clr-primary-600);
        --clr-btn-hover: var(--clr-gray-900);

        /* Background / Text */
        --clr-bg: var(--clr-primary-200);
        --clr-text: var(--clr-gray-900);

        /* Typography */
        --ff-body: "Karla", sans-serif;
        --fs-xs: 0.75rem;
        --fs-sm: 0.875rem;
        --fs-md: 1rem;
        --fs-lg: 1.125rem;
        --fs-xl: 1.25rem;
        --fs-2xl: 1.5rem;
        --fs-3xl:2rem;

        --fw-400: 400;
        --fw-500: 500;
        --fw-700: 700;

        /* Layout */
        --space-xs: 0.5rem;
        --space-sm: 0.75rem;
        --space-md: 1rem;
        --space-lg: 1.5rem;
        --space-xl: 2rem;

        /* Effects */
        --radius-sm: 0.375rem;
        --radius-md: 0.75rem;
        --shadow-sm: 0 2px 4px rgba(0,0,0,0.05);
        --shadow-md: 0 4px 8px rgba(0,0,0,0.1);
    }
}

/* ===== Base ===== */
@layer base {
    html {
        font-size: 100%; /* 16px default */
        scroll-behavior: smooth;
    }

    body {
        font-family: var(--ff-body);
        font-size: var(--fs-md);
        font-weight: var(--fw-400);
        line-height: 1.6;
        color: var(--clr-text);
        background-color: var(--clr-bg);
    }

    h1, h2, h3, h4, h5, h6 {
        font-weight: var(--fw-700);
        line-height: 1.2;
        color: var(--clr-gray-900);
    }

    p {
        margin-bottom: var(--space-md);
        line-height: 1.6;
    }

    a {
        color: var(--clr-primary-600);
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
    label{
        color: var(--clr-text);
        font-size: var(--fs-md);
        display: inline-block;
        margin-bottom: .5rem;
    }
    input,
    textarea{
        width: 100%;
        border: 1px solid var(--clr-gray-500);
        border-radius: var(--radius-sm);
        padding:.5rem 1rem;
        font-size: var(--fs-md);
        font-weight: var(--fw-400);
        margin-bottom: .5rem;
        &:hover,&:focus-visible{
            border: 2px solid var(--clr-primary-600);
        }
    }
    textarea{
      resize: none;
      max-height:150px;
    }
    fieldset legend{
        margin-bottom: .5rem;
    }
    button[disabled]{
        opacity: .5;
        pointer-events: none;
    }

}

/* ===== Theme (e.g., dark mode) ===== */
@layer theme {
    /*@media (prefers-color-scheme: dark) {*/
    /*    :root {*/
    /*        --clr-bg: var(--clr-neutral-900);*/
    /*        --clr-text: var(--clr-neutral-100);*/
    /*        --clr-btn: var(--clr-primary-200);*/
    /*        --clr-btn-hover: var(--clr-primary-600);*/
    /*    }*/
    /*}*/
}

/* ===== Components ===== */
@layer components {
    main{
        display: grid;
        align-items: center;
        min-height: 100vh;
    }
    .form-section{
        width: 40%;
        max-width: 1150px;
        margin-inline: auto;
        background: var(--clr-neutral-100);
        padding: 1rem 2rem;
        border-radius: var(--radius-md);
        box-shadow: 0 0 10px 1px var(--clr-primary-200);
        @container (width < 700px) {
            width: 90%;
        }
    }
    .form-heading{
        color: var(--clr-neutral-900);
        font-weight: var(--fw-700);
        font-size: var(--fs-3xl);
        margin-bottom: 1rem;
    }
    .form-row{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        width: 100%;
        margin-bottom: .5rem;
        @media (width < 700px ) {
            flex-direction: column;
        }
    }
    .form-row span{
        margin-left: 2px;
    }
    .form-control{
        width: inherit;
    }
    fieldset .form-control{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border: 1px solid var(--clr-gray-500);
        border-radius: 8px;
        padding: .75rem 1rem;
        &:focus-visible,
        &:hover{
            border: 2px solid var(--clr-primary-600);
        }

        position: relative;
    }

    fieldset .form-control label{
        width: fit-content;
        cursor: pointer;
        margin: 0 0 0 .5rem;
    }
    input[type="checkbox"],
    input[type="radio"]{
        width: 20px;
        height: 20px;
        padding: 0 .5rem;
        display: inline;
        margin: 0;
    }
    input[type="radio"]:checked{
        border: 0;
        appearance: none;
        background: url("assets/images/icon-radio-selected.svg") no-repeat;
    }
    /*-------------CheckBox Style-------------*/
    .checkbox-control{
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .checkbox-control label{
        margin:0 0 0 1rem;
        cursor: pointer;
    }
    input[type="checkbox"]{
        width: 18px;
        height: 18px;
    }
    input[type="checkbox"]:checked{
        border: 0;
        appearance: none;
        background: url("assets/images/icon-checkbox-check.svg") center;
    }
    .form-actions{
        width: 100%;
        margin-block: 2rem 1rem;
    }
    /*===============Alert Styling============*/
    .alert{
        position: absolute;
        left: 50%;
        top: -50%;
        transform: translateX(-50%);
        background: var(--clr-gray-900);
        width:fit-content;
        border-radius: var(--radius-md);
        color: var(--clr-neutral-100);
        padding:1.5rem 2rem;
        display: block;
    }
    .alert-header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: .5rem;
    }
    .alert-header h2{
        color: var(--clr-primary-200);
        margin-left: .5rem;
        font-size: var(--fs-md);
        font-weight: var(--fw-700);
    }
    .alert-header svg{
        width: 18px;
        height: 18px;
    }
    .alert p{
        font-size: var(--fs-sm);
        color: var(--clr-gray-500);
    }

}

/* ===== Utilities ===== */
@layer utilities {
    .hidden {
        display: none !important;
    }
    .sr-only {
        position: absolute !important;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
        white-space: nowrap;
    }
    .btn{
        display: block;
        width: inherit;
        background-color: var(--clr-btn);
        color: var(--clr-neutral-100);
        font-weight: var(--fw-500);
        letter-spacing: 1px;
        border-radius: var(--radius-sm);
        padding: var(--space-sm);
        cursor: pointer;
    }
    .btn:hover,.btn:focus-visible{
        background-color: var(--clr-btn-hover);
    }
    .error,
    .error-message,
    .regex-error{
        color:var(--clr-error);
        display: none;
    }
    .invalid{
        border: 2px solid var(--clr-error);
    }
    .valid{
        border: 2px solid var(--clr-primary-600);
    }
}

