.nav__menu{
    position: relative;
    padding: var(--sp-24) var(--sp-64);
    font-family: var(--ff-barlow-condensed);
    z-index: 1;
}
.nav__menu:before{
    content: '';
    position: absolute;
    width: 90%;
    height: 1px;
    background-color: hsl(var(--clr-white));
    opacity: .25;
    top: 50%;
    left:-85%;
    transform: translateY(-50%);
    z-index:100;
}
.nav__menu ul li{
    position: relative;
}
.nav__menu ul li::before{
        content: '';
        position: absolute;
        width: 0;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        bottom: -100%;
        height: 3px;
        background-color: hsla(var(--clr-white));
        transform-origin: center;
}
.nav__menu ul li:hover::before{
        width: 100%;
        opacity: .25;
        transition: all .3s ease-in-out;
}

.nav__menu ul li.active::before{
        width: 100%;
        opacity: 1;
        transition: all .3s ease-in-out;
}


