nav{
    position: relative;
    background: hsl(var(--clr-white) / 0.8);
    backdrop-filter: blur(90px);
    padding: var(--sp-24) var(--sp-48);
    text-align: end;
}
.nav__line{
    height: 1px;
    background: hsl(var(--clr-dark) / 0.2);
}
nav ul{
}
nav ul li{
    display: inline-block;
    margin-left: var(--sp-24);
}