@font-face {
    font-family: "Roboto";
    src: local("Roboto Regular"),
    url("assets/fonts/Roboto-Bold.woff2") format("woff2"),
    url("assets/fonts/Roboto-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("assets/fonts/Roboto-Regular.woff2") format("woff2"),
    url("assets/fonts/Roboto-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root{
    --main-ff:"Roboto",sans-serif;

    /* --- Neutral Colors --- */
    --neutral-clr-100: hsl(0, 0%, 100%);
    --neutral-clr-400: hsl(0, 0%, 58%);
    --neutral-clr-700: hsl(235, 18%, 26%);
    --neutral-clr-800: hsl(234, 29%, 20%);

    /* --- Accent Colors --- */
    --accent-clr-400: hsl(4, 100%, 67%);
    --accent-clr-500: hsl(347, 100%, 66%);
    /**/
    --heading-clr:hsl(235, 25%, 20%);
    --text-clr:var(--neutral-clr-800);
    /**/

    --liner-gridient:linear-gradient(
        -90deg,
        hsl(12, 100%, 63%),
        hsl(348, 100%, 66%)
    );
}

h1,h2,h3{
    color: var(--heading-clr);
}
img{
    width: 100%;
    display: block;
}
p{
    text-wrap: balnce;
}
form{
    display: grid;
    gap: 1rem;
}
label{
    font-size: 14px;
    font-weight: 600;
    color:hsl(235, 19%, 24%);
    display: block;
    margin-bottom: .5rem;
}
input{
    border: 1px solid var(--neutral-clr-400);
    padding:1rem 1.5rem;
    width: 100%;
    border-radius: 8px;
    color: var(--text-clr);
    font-size: 18px;
    &:focus{

        outline: none;
        box-shadow: none;
        border:1px solid var(--neutral-clr-800);

    }
}

input::placeholder{
    color: hsl(240, 3%, 74%);
}

button{
    border: 0;
    outline: 0;
    background: transparent;
}

body{
    line-height: 1.5;
    display: grid;
    place-items: center;
    min-height: 100vh;
    color: var(--text-clr);
    font-weight: 500;
    font-size: 18px;
    background: var(--neutral-clr-800);
}
.container{
    background:var(--neutral-clr-100);
    min-width: 100%;

}

.wrapper{
    margin-inline: auto;
    display: grid;
    row-gap: 1rem;
    padding:1rem;
}
.wrapper h1{
    font-size: 3.5rem;
    margin-top: 2rem;
}
.wrapper p{
    margin-bottom: 1rem;
}
.wrapper ul{
    list-style: none;

}
.wrapper ul li{
    position: relative;
    display: grid;
    grid-template-columns: 2rem 1fr;
    align-items: start;
    gap: .25rem;
    margin-bottom: 1.5rem;
}
.wrapper ul li:before{
    content: '';
    background: url("assets/images/icon-success.svg") no-repeat center/cover;
    width: 1.25rem;
    height: 1.25rem;
}

.newsletter__form{
    margin-bottom: 1rem;
}

.btn{
    position: relative;
    background: var(--neutral-clr-800);
    padding:1.25rem 1.5rem;
    border-radius: 8px;
    color: var(--neutral-clr-100);
    cursor: pointer;
    transition:background .5s ease, box-shadow .5s ease ;
    &:hover,
    &:focus-visible{
        background: var(--liner-gridient);
    }
}
.btn:hover:before,
.bnt:focus-visible:before{
    content: '';
    background: inherit;
    border-radius: inherit;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    translate: 0 1.5rem;
    inset: 0;
    opacity: 0.5;
    filter: blur(30px);
}
@media (min-width: 900px) {
    .container{
        display: grid;
        grid-template-columns:1fr 350px;
        place-items: center;
        border-radius:20px;
        padding: 1rem;
        gap: 1rem;
        min-width: min(90%,900px);
    }
    .wrapper{
        row-gap: .5rem;
        padding:1rem 2rem;
        width: 90%;
    }

    .main-image{
        order: 2;
    }
    .main-image img{
        object-fit: cover;
    }
    .wrapper ul li{
        margin-bottom: .5rem;
    }
}




