@font-face {
    font-family: "Roboto";
    src: local("Roboto Regular"),
    url("assets/fonts/Roboto-Bold.woff2") format("woff2"),
    url("assets/fonts/Roboto-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("assets/fonts/Roboto-Regular.woff2") format("woff2"),
    url("assets/fonts/Roboto-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
button[disabled]{
    opacity: .5;
    pointer-events: none;
    cursor: not-allowed;
}

:root{
    --main-ff:"Roboto",sans-serif;

    /* --- Neutral Colors --- */
    --neutral-clr-100: hsl(0, 0%, 100%);
    --neutral-clr-400: hsl(0, 0%, 58%);
    --neutral-clr-700: hsl(235, 18%, 26%);
    --neutral-clr-800: hsl(234, 29%, 20%);

    /* --- Accent Colors --- */
    --accent-clr-400: hsl(4, 100%, 67%);
    --accent-clr-500: hsl(347, 100%, 66%);
    --heading-clr:hsl(235, 25%, 20%);
    --text-clr:var(--neutral-clr-800);
    --liner-gridient:linear-gradient(
        -90deg,
        hsl(12, 100%, 63%),
        hsl(348, 100%, 66%)
    );
}

h1,h2,h3{
    color: var(--heading-clr);
}
img,
svg{
    width: 100%;
    display: block;
}
svg{
    max-height: 5rem;
}
p{
    text-wrap: balnce;
}
form{
    display: grid;
    gap: 1rem;
}
label{
    font-size: 14px;
    font-weight: 600;
    color:hsl(235, 19%, 24%);
    display: block;
    margin-bottom: .5rem;
}
input{
    border: 1px solid var(--neutral-clr-400);
    padding:1rem 1.5rem;
    width: 100%;
    border-radius: 8px;
    color: var(--text-clr);
    font-size: 18px;
    &:focus{

        outline: none;
        box-shadow: none;
        border:1px solid var(--neutral-clr-800);

    }
}

input::placeholder{
    color: hsl(240, 3%, 74%);
}

button{
    border: 0;
    outline: 0;
    background: transparent;
}


body{
    line-height: 1.5;
    color: var(--text-clr);
    font-weight: 500;
    font-size: 18px;
}
main{
    position: relative; 
}
.container{
    background:var(--neutral-clr-100);
    min-width: 100%;
}

.wrapper{
    margin-inline: auto;
    display: grid;
    row-gap: 1rem;
    padding:1rem;
}
.wrapper h1{
    font-size: clamp(2rem,2rem + 3vw, 2.5rem);
    margin-top: .5rem;
}
.wrapper p{
    margin-bottom: 1rem;
}
.wrapper ul{
    list-style: none;

}
.wrapper ul li{
    position: relative;
    display: grid;
    grid-template-columns: 2rem 1fr;
    align-items: start;
    gap: .25rem;
    margin-bottom: 1.5rem;
}
.wrapper ul li:before{
    content: '';
    background: url("assets/images/icon-success.svg") no-repeat center/cover;
    width: 1.25rem;
    height: 1.25rem;
}

.newsletter__form{
    margin-bottom: 1rem;
}
.newsletter__form-label{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.newsletter__error{
    color: var(--accent-clr-400);
    font-weight: 600;
    font-size: 15px;
}
input.inValid{
    border-color:2px solid var(--accent-clr-400);
    color: var(--accent-clr-400);
    background:hsl(4 100% 67% / .2) ;
}
.btn{
    position: relative;
    background: var(--neutral-clr-800);
    padding:1.25rem 1.5rem;
    border-radius: 8px;
    color: var(--neutral-clr-100);
    cursor: pointer;
    transition: background .5s ease-in;
    &:hover,
    &:focus-visible{
        background: var(--liner-gridient);
    }
}
.btn:hover::before,
.btn:focus-visible::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: inherit;
    border-radius: inherit;
    translate: 0 1.5rem;
    inset: 0;
    opacity: 0.6;
    filter: blur(1rem);
}

/* =========================== popup container Styling ======================= */
.newsletter-success{
    display: grid;
    align-content: space-between;
    grid-template-rows:1fr auto;
    padding: 2rem;
    min-height: 100vh;
    background-color: var(--neutral-clr-100);
    border-radius: 20px;
}
.newsletter-success-container{
    display: grid;
    row-gap: 1rem;
    align-self: center;
}
.newsletter-success__title{
    font-size: 2.5rem;
    margin-block-end: 1rem;
    font-weight: 900;
    line-height: 1;
}


@media (min-width: 500px) {
    body{
        display: grid;
        place-items: center;
        min-height: 100vh;
        background-color: var(--neutral-clr-800);
    }
    .container{
        padding: 20px;
        border-radius: 20px;
    }
    .newsletter-success{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        gap: 1.5rem;
        min-height: 50%;
        max-width: 400px;
        padding: 2rem;
    }
    .newsletter-success-container{
        gap: 0;
    }
    .newsletter-success-container p{
        font-size: 16px;
    }
}

@media (min-width: 900px) {
    body{
        background: var(--neutral-clr-800);
        min-height: 100vh;
    }
    main{
        max-width: min(90%,800px);
    }
    .container{
        display: flex;
        align-items: center;
        border-radius: 20px;
        padding: 5px;
    }
    .main-image{
        order: 2;
        padding: .5rem;

    }
    .wrapper{
        padding: 1rem 1.5rem;
        row-gap: .5rem;
    }
    .wrapper ul li{
        margin-bottom:1rem;
    }
    /* newsLetter popup */
}





