@layer
reset,
fonts,
variables,
base,
theme,
main,
utilitie;

/* ================= Reset Layer ================= */
@layer reset {
    *, *::before, *::after {
        box-sizing: border-box;
        outline: 0;
        border: 0;
    }
    *{
        margin: 0;
        padding: 0;
    }
    input, button, textarea, select {
        font-family: inherit;
    }
    img, video {
        max-width: 100%;
        display: block;
    }
    a {
        text-decoration: none;
        color: inherit;
    }
    ul[role="list"],
    ol[role="list"] {
        list-style: none;
    }
    button {
        cursor: pointer;
        background: none;
    }
    h1, h2, h3, h4, h5, h6 {
        font-weight: inherit;
        line-height: var(--line-height-sm);
        margin: 0;
    }
    button[disabled]{
        cursor: not-allowed;
        opacity: 0.6;
    }

}
/* ================= Fonts Layer ================= */
@layer fonts{
    @font-face {
        font-family: 'Ubuntu';
        src: url('assets/fonts/Ubuntu-Bold.woff2') format('woff2'),
        url('assets/fonts/Ubuntu-Bold.woff') format('woff');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Ubuntu';
        src: url('assets/fonts/Ubuntu-Medium.woff2') format('woff2'),
        url('assets/fonts/Ubuntu-Medium.woff') format('woff');
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Ubuntu';
        src: url('assets/fonts/Ubuntu-Regular.woff2') format('woff2'),
        url('assets/fonts/Ubuntu-Regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
}

/* ================= Variables Layer ================= */
@layer variables {
    :root {
        /*--------------------Main Fonts---------------------*/
        --font-main: 'Ubuntu', system-ui, sans-serif;
        --font-code: 'Courier New', monospace;
        /*--------------------Font Size---------------------*/
        --font-size-sm: 0.875rem; /* 14px */
        --font-size-md: 1rem;     /* 16px */
        --font-size-lg: 1.125rem; /* 18px */
        --font-size-xl: 1.25rem;  /* 20px */
        --font-size-2xl: 1.5rem;  /* 24px */
        --font-size-3xl: 1.875rem;/* 30px */
        --font-size-4xl: 2.25rem; /* 36px */
        --font-size-5xl: 3rem;    /* 48px */
        /*--------------------Font Weight---------------------*/
        --fw-400: 400;
        --fw-500: 500;
        --fw-700: 700;
        /* ================Main Colors====================== */

        /* ------------Primary---------- */
        --primary-blue-950: hsl(213, 96%, 18%);
        --primary-purple-600: hsl(243, 100%, 62%);
        --primary-blue-300: hsl(228, 100%, 84%);
        --primary-blue-200: hsl(206, 94%, 87%);
        --primary-red-500: hsl(354, 84%, 57%);
        /* ------------Neutral---------- */
        --neutral-500: hsl(231, 11%, 63%);
        --neutral-200: hsl(229, 24%, 87%);
        --blue-100: hsl(218, 100%, 97%);
        --blue-50: hsl(231, 100%, 99%);
        --white: hsl(0, 100%, 100%);
        /* ------------Shades of Blue---------- */
        --blue-950: hsl(213, 96%, 18%);
        --blue-900: hsl(214, 96%, 25%);
        --blue-800: hsl(215, 96%, 35%);
        --blue-700: hsl(216, 96%, 45%);
        --blue-600: hsl(217, 96%, 55%);
        --blue-500: hsl(218, 96%, 65%);
        --blue-400: hsl(219, 96%, 75%);
        --blue-300: hsl(220, 96%, 85%);
        --blue-200: hsl(221, 96%, 90%);
        /*-------------line-height-----------*/
        --line-height-sm: 1.25; /* 20px */
        --line-height-md: 1.5;  /* 24px */
        --line-height-lg: 1.75; /* 28px */
        /*-----Border-Radius----*/
        --border-radius-sm: 5px;
        --border-radius-md: 10px;
        --border-radius-xl: 25px;
        /*-----Box-Shadow----*/
        --box-shadow:
                0 10px 15px -3px rgba(0, 0, 0, 0.1),
                0 4px 6px -2px rgba(0, 0, 0, 0.05);

    }
}

/* ================= Theme Layer ================= */
@layer theme {

}
/* ================= Base Layer ================= */
@layer base {
    html{
        scroll-behavior: smooth;
        font-size: var(--font-size-md); /* Base font size: 16px */
        color: var(--neutral-500);
    }
    body{
        font-family: var(--font-main);
        color: currentColor;
        overflow-x: hidden;
        background-color: var(--blue-100);
        line-height: var(--line-height-md);
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

    }
    main{
        container-type: inline-size;
        background-color: var(--blue-200);
    }
    h1,
    h2,
    h3{
        --hedaing-color: var(--blue-950);
        font-weight: var(--fw-700);
        color: var(--hedaing-color);
        line-height: var(--line-height-sm);
        margin-bottom: 0;
    }
    p{
        color: var(--neutral-500);
        font-size: var(--font-size-md);
        line-height: 1.6;
        text-wrap: pretty;
    }
}

/* ================= Main Layer ================= */
@layer main {
    #personal-info,
    #select-plan,
    #add-ons,
    #summary,
    #thank-you{
        /*display: none;*/
        background-color: var(--white);
    }
    /*---------------SideBar-Styling------------------*/
    #sidebar{
        background: url("assets/images/bg-sidebar-desktop.svg") no-repeat center/cover;
        padding: 1.5rem;
        li{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 1rem;
            gap: 1rem;
            & > span{
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: var(--fw-500);
                color: var(--white);
                border: 1px solid var(--white);
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                font-size: var(--font-size-sm);
            }
            & div{
                text-transform: uppercase;
                font-size: var(--font-size-sm);
                letter-spacing: 1px;
                & span:first-child{
                    display: block;
                    font-weight: var(--fw-400);
                    color: var(--neutral-500);
                }
                &:last-child{
                    font-weight: var(--fw-700);
                    color: var(--white);
                }
            }
        }
        @container (width < 600px) {
            background: url("assets/images/bg-sidebar-mobile.svg") no-repeat center/cover;
            padding: 2rem;
            nav{
                height: 100%;
                width: 65%;
                margin: 0 auto;
                padding: 1.5rem 0;
            }
            ol{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
            }
            li{
                & div{
                    display: none;
                }
            }
        }



        /*@container (width > 768px) {*/
        /*    background: url("assets/images/bg-sidebar-desktop.svg") no-repeat center/cover;*/
        /*    nav{*/
        /*        width: 80%;*/
        /*        padding: 2rem 0;*/
        /*    }*/
        /*    ol{*/
        /*        flex-direction: column;*/
        /*        align-items: flex-start;*/
        /*        gap: 2rem;*/
        /*    }*/
        /*    li{*/
        /*        flex-direction: row;*/
        /*        gap: 1rem;*/
        /*        > div{*/
        /*            display: block;*/
        /*            font-size: var(--font-size-sm);*/
        /*            text-transform: uppercase;*/
        /*            letter-spacing: 1px;*/
        /*        }*/

        /*    }*/

        /*}*/

    }
    /*------------form sections Styling------------------*/
}

/* ================= Utilities Layer ================= */
@layer utilities {
    /*---------------wrapper class styling------------------*/
    .wrapper {
        width: 90%;
        max-width: 1100px;
        margin: 1rem auto;
        padding: 1em;
        display: grid;
        grid-template-columns: 2fr 4fr;
        background-color: var(--blue-50);
        border-radius: var(--border-radius-md);
        @container (width < 600px) {
        width: 100%;
        margin:0;
        padding: 0;
        grid-template-columns: 1fr;
        grid-template-rows: 200px repeat(2,1fr);
        }
    }
    .sr-only{
        position: absolute;
        clip: rect(0,0,0,0);
        clip-path: inset(50%);
        height: 1px;
        width: 1px;
        margin: -1px;
        overflow: hidden;
        white-space: nowrap;
    }
    /*---------------Grid Container Styling------------------*/
    .grid {
        display: grid;
        gap: 1.5rem;
    }
    .grid-2{
        grid-template-columns: repeat(2, 1fr);
    }
    .grid-3{
        grid-template-columns: repeat(3, 1fr);
    }
    /*---------------Flex Utils Classes------------------*/
    .flex {
        display: flex;
    }
    .flex-row {
        flex-direction: row;
    }
    .flex-column {
        flex-direction: column;
    }
    .items-center {
        align-items: center;
    }
    .justify-center {
        justify-content: center;
    }
    .justify-between {
        justify-content: space-between;
    }
    .justify-evenly {
        justify-content: space-evenly;
    }
    .justify-end {
        justify-content: flex-end;
    }
    .align-center{
        align-items: center;
    }
    /*---------------Margin & Padding Utils Classes------------------*/
    .mt-auto{
        margin-top: auto;
    }
    .mb-auto{
        margin-bottom: auto;
    }
    .ml-auto{
        margin-left: auto;
    }
    .mr-auto{
        margin-right: auto;
    }
    /*---------------Gap Utils Classes------------------*/
    .gap-1 {
        gap: 1rem;
    }
    .gap-2 {
        gap: 2rem;
    }
    .gap-3 {
        gap: 3rem;
    }
    /*---------------Text Utils Classes------------------*/
    .active{
        background-color: var(--blue-200);
        border: 1px solid var(--blue-200);
        color: var(--primary-blue-950)
    }
}

