@import "reset.css";
@import "typography.css";
@import "utilities.css";

:root{
    /* ------------- FF ------------- */
    --ff-snas:'variables.css', sans-serif;
    /* ------------- Colors ------------- */
    --primary-clr:hsl(13, 86%, 59%);
    --secondary-clr:hsl(220, 13%, 13%);
    --text-color:hsl(240, 8%, 82%);
    --bg-color:hsl(0, 0%, 100%);
    --hover-clr:hsl(13, 86%, 69%);
    --heading-clr:hsl(220, 13%, 13%);
    /* -------------- FONT SIZE ------------- */
    --fs-xxs:0.75rem;
    --fs-xs:0.875rem;
    --fs-sm:1rem;
    --fs-md:1.25rem;
    --fs-lg:1.5rem;
    --fs-xl:2rem;
    /* ------------- FONT WEIGHT ------------- */
    --fw-normal:400;
    --fw-bold:700;
}
body,
html{
    font-family: var(--ff-snas);
    color: var(--text-color);
    background-color: var(--bg-color);
}



